<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/nav :: navBar(user = ${user}, roles = ${roles})"></div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="background-color: aliceblue; height: 1000px">
            <div id="rolesForUser">
            </div>
        </div>
        <p id="idAuth" th:text="${user.id}" style="display: none"></p>
        <div class="col-8">
            <h1 id="adminPanelAndUserInformation-page">Admin panel</h1>
            <div id="battonsUsersTableAndAddNewUser">
                <button type="button" class="btn btn-primary active"> Users table</button>
                <button id="addNewUser" type="button" class="btn btn-primary">Add new User</button>
            </div>

            <table class="table table-bordered table-striped">
                <div class="bg-light"><h3 id="allUsersAndAboutUser">All users</h3></div>
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th class="dontSee">Edit</th>
                    <th class="dontSee">Delete</th>
                </tr>
                </thead>
                <tbody id="drowTable">

                </tbody>
            </table>
<!--            <div>-->
<!--                <ul class="nav nav-pills">-->
<!--                    <li class="nav nav-item" th:each="item : ${#numbers.sequence(0, users.totalPages - 1)}">-->
<!--                        <a  th:href="@{/admin/{page}(page=${item})}" th:text="${item + 1}" class="nav-link"-->
<!--                        th:classappend="${currentPage}==${item}?'active':''"></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</div>

<div th:replace="fragments/modalregister :: modalRegister"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/test.js}" ></script>

</body>
</html>